@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:regular,italic,700,700italic,900,900italic');

water = #A4BEDC
dark = #1e1e1e
light = #F4F4F4
redlist = #D72C26
jap = #C99E89

.menu-hamburger
    position: fixed
    z-index: 5
    top: 20px
    left: 20px
    img
        width: 35px
        height 35px
        transform: rotate(90deg)
.blue
    color: water;

.water-on-wheels
    background: dark
    color light
    .title
        color: light
    .bandeau
        color dark
        background water
    .typographie
        p
            font-family: Montserrat
    .colors
        .color
            &.color-1
                color water
            &.color-2
                color light
            &.color-3
                color #404040

.japanese-craft
    background: light
    color dark
    .title
        color: dark
    .bandeau
        color dark
        background jap
    .typographie
        p
            font-family: Playfair Display
    .colors
        .color
            &.color-1
                color jap
            &.color-2
                color dark
            &.color-3
                color #262626

.red-list
    background: dark
    color light
    .menu-hamburger
        img
            fill: white
    .title
        color: redlist
        font-weight: bold
    .bandeau
        color dark
        background redlist
    .typographie
        p
            font-family: Roboto
    .colors
        .color
            &.color-1
                color redlist
            &.color-2
                color light
            &.color-3
                color #0E172D

.project-page
    font-family: Open Sans
    .bandeau
        display flex
        justify-content center
        align-items center
        margin 50px 0 0 0
        font-size: 26px
        font-weight bold
        .role 
            h3
                font-weight normal
        .date 
            h3
                font-weight normal
        .item
            display flex
            flex-direction: column
            align-items center
            justify-content center
            padding: 50px 5vw
    .container
        margin: 0 10vw
        h2
            margin: 10px 0
            font-family: Open Sans 
            font-size 36px
        .title
            font-size: 50px
            margin: 100px 0 0 0
            display flex
            justify-content center 
            align-items center 
            h1
                margin 0 0 0 15px
        .presentation
            margin: 80px 0 0 0
            p
                font-size: 26px
        .typographie
            margin: 80px 0 0 0
            p
                text-align: center
                font-size: 65px
        .colors
            .colors-panel
                display flex
                align-items center
                justify-content center
                .color
                    display flex
                    align-items center
                    flex-direction: column
                    padding 100px 5vw
                    img
                        width: 50px
                        height auto
                        margin: 0 0 20px 0
                    p
                        font-size: 26px
        .screens
            img
                width: 100%
                height auto
                margin 0 0 30px 0
                
.about
    font-family: Open Sans
    .container
        display flex
        align-items center
        justify-content center
        flex-direction: column
        width 100vw
        height 100vh
        h1
            font-size: 80px
        .presentation
            display flex
            justify-content center
            align-items center
            max-width 1080px
            .img-container
                img
                    width: 300px
                    height 600px
            .text
                font-size: 38px
                line-height: 42px
                p
                    white-space: pre-line
.index
    font-family: Open Sans
    section
        position relative
        canvas
            z-index: -10
        .background
            position absolute
            z-index -3
            width 100%
            height 100vh
    .first-page
        .background
            display flex
            justify-content center
            align-items center
            .losange
                width 25vw
                height 25vw
                border: 4vw dark solid
                transform rotate(45deg)
                transform-origin center
                animation: bounce 10s infinite
        .me
            display flex
            flex-direction: column
            justify-content center
            align-items center
            width 100%
            height 100vh
            h1
                font-size: 40px
            h2
                font-size: 30px
            .about
                margin 10px 0 0 0
                border-bottom: 1px solid dark
                a
                    text-decoration: none
                    color: inherit
            .seework
                transform: translateY(10vw)
                font-size: 20px
                display flex
                align-items center
                justify-content center
                flex-direction: column
                img 
                    margin: 10px 0 0 0

    .project
        .container-pres
            display flex
            flex-direction: column
            justify-content center
            align-items center
            padding: 100px 0 0 0
            .title
                display flex
                justify-content center
                align-items center
                h1
                    font-size: 50px
                    
                img
                    width: 10%
                    height: 10%
                    padding-right 10px

        .tilted-picture
            margin: 150px 0 0 0
            a
                display flex
                justify-content center
                align-items center
                img
                    width: 30%;
                    height: 30%;
                    transition: 0.5s all
                    &:hover
                        filter: contrast(50%)
            


    .wateronwheels
        .background
            background #272727
        .title
            h1
                color: #F4F4F4

    .redlist
        .background
            background dark
        .title
            h1 
                color: #D72C26
            img
                width 80px!important
                height 80px!important

    .js-canvas{
        position:absolute;
        height:100vh;
        width:100%; 
        z-index:-2;
    }   

